<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body ng-app="myApp" class="light-blue darken-2">
    <div class="main" ng-controller="MainController">
    <div class="container">
      <div class="row">


        <div class="col s3 m3 l3" ng-repeat="list in lists track by $index">
          <div class="center-align card-panel">
            <h3 class="light-blue-text text-darken-2">{{list.title}}</h3> 
            <a class="btn-floating light-blue lighten-1 right" ng-click="deleteList($index)">X</a>
          </div>
          <div ng-repeat="card in list.cards track by $index">
            <div class="center-align card-panel">
              <p ng-click>{{card}}</p>
              <a class="btn-floating light-blue lighten-1 right" ng-click="deleteCard($parent.$index, $index)">X</a>
            </div>
          </div>
          <div class="white">
            <div class="container">
              <div class="row" >
                <input placeholder="New Card..." type="text" ng-model="list.newCard"/>
              </div>
              <div class="row">
                <a class="btn light-blue lighten-1 left col s5 m5 l5 offset-s1 offset-m1 offset-l1"  ng-click="addCard($index)" >Add</a>
                <a class="btn light-blue lighten-1 col s4 m4 l4 offset-s1 offset-m1 offset-l1" ng-click="deselectCard($index)" >X</a>
              </div>
              <div class="row"></div>
            </div>
          </div>
        </div>


        <div class="col s3 m3 l3">
          <ul class="collapsible collapsible-accordion">
            <li>
              <div class="collapsible-header light-blue lighten-1 center-align">Add List</div>
              <div class="collapsible-body white">
                <div class="container center-align">
                  <div class="row">
                    <input placeholder="New List..." type="text" ng-model="newTitle.title"/>
                  </div>
                  <div class="row" >
                    <a class="btn light-blue lighten-1 left col s5 m5 l5 offset-s1 offset-m1 offset-l1"  ng-click="addList()" >Add</a>
                    <a class="btn light-blue lighten-1 col s4 m4 l4 offset-s1 offset-m1 offset-l1" ng-click="deselectTitle()" >X</a>
                  </div>

                 

                </div>
              </div>
            </li>
          </ul>
        </div>

        </div>
      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="js/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/materialize/materialize.min.js"></script>
    <script type="text/javascript" src="js/angular/angular.min.js"></script>
    <script type="text/javascript" src="js/angular/angular-mocks.js"></script>
    <script type="text/javascript" src="js/angular/angular-route.min.js"></script>
    <script type="text/javascript" src="js/angular/app.js"></script>
    <script type="text/javascript" src="js/angular/controllers/MainController.js"></script>
  </body>
</html>
 